# .NET
bin/
obj/

# Visual Studio files
.vscode/
.vs/
*.suo
*.user
*.sln.docstates

# NuGet packages
packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User-specific files
*.suo
*.user
